.footer
  footer.footer.section.section-sm
    .container
      .row
        .col-lg-3.col-md-7.offset-md-1.offset-lg-0
          .block.about
            img(src='images/logo-footer.png', alt='')
            p.alt-color
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  footer.footer-bottom
    .container
      .row
        .col-sm-6.col-12
          .copyright
            p Copyright © 2016. All Rights Reserved
        .col-sm-6.col-12
          ul.social-media-icons.text-right
            li
              a.fa.fa-facebook(href='')
            li
              a.fa.fa-twitter(href='')
            li
              a.fa.fa-pinterest-p(href='')
            li
              a.fa.fa-vimeo(href='')
    .top-to
      a#top(href='')
        i.fa.fa-angle-up
