head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='keywords', content='Flat Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
  
  // for banner css files
  link(rel='stylesheet', type='text/css', href='stylesheets/zoomslider.css')
  // zoomslider css
  script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
  script(type='text/javascript', src='javascripts/modernizr-2.6.2.min.js')
  // modernizer css
  // //for banner css files
  link(href='stylesheets/carousel.css', type='text/css', rel='stylesheet', media='all')
  // for team carousel css
  link(href='stylesheets/jQuery.lightninBox.css', rel='stylesheet', type='text/css', media='all')
  // for portfolio lightninBox css
  // custom-theme css files
  link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
  link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
  // //custom-theme css files
  // font-awesome-icons
  link(href='stylesheets/font-awesome.css', rel='stylesheet')
  // //font-awesome-icons
  // googlefonts
  link(href='stylesheets/main.css', rel='stylesheet')

  link(href='//fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&subset=latin-ext,vietnamese', rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese', rel='stylesheet')
  // //googlefonts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js')
