.header
  .header-main
    .container
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          h1
            a(href='/')
              | Flat
              span Property Value
        // navbar-header
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.scroll.hvr-outline-in
              a(href='/') Inicio
        .clearfix  
      .clearfix  
